header{
    height: 12vh;
}

main{
    background-color: rgb(127,255,211);
    height: 80vh;
}

.main-square{
    height: 500px;
    width: 500px;
}

.mini-square{
    background-color: rgb(189,189,189);
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
}

.right-square{
    background-image: url(../img/21R-XRQZv2L.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    height: 8vh;
 }

.bomb-lose{
    background-image: url(../img/bomba.png);
    background-size: cover;
    background-repeat: no-repeat;
}